/* CSS Document */
.node_is_hidden *{
	font-style:italic;
	opacity:0.5;
  filter:alpha(opacity=50); /* For IE8 and earlier */
  background-color:#FFD;
	color:#444;
}

li a.node_is_hidden + ul.menu {
	font-style:italic;
	opacity:0.5;
  filter:alpha(opacity=50); /* For IE8 and earlier */
  background-color:#FFD;
	color:#444;
}
