/* CSS Document */
#page .node_is_hidden ,
#page .node_is_hidden *,
#book-outline .node_is_hidden * {
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  text-decoration: line-through;
}